.post-img {
    height: 550px;
    overflow: hidden;
}

.post-img img {
    width: 100%;
    opacity: 0.5;
}

.blog-post-content h2 {
    text-align: center;
}

.blog-post-content p {
    font-size: 17px;
    margin-top: 10px;
}

.home-articles h2 {
    margin-left: 20px;
}

.row {
    display: flex;

}

.more-post {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blogpost-meta{
    display: flex;
    justify-content: space-between;

}
.auther-info{
    margin: 12px 0;
}
.auther-info div{
   padding: 4px 12px;
    font-family: var(font-2);
}
.social{
    margin: 12px 0;
    align-self: center;
}
.social svg{
    height: 24px;
    width: 24px;
    margin: 2px;
    cursor: pointer;
}